@using Microsoft.AspNetCore.Identity
@using BookShopCourseWork.Extensions;
@using BookShopCourseWork.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using BookShopCourseWork.ViewModels;
@model ViewBooksModel
@{
    ViewData["Title"] = "View all books";
    bool isLoggedIn = SignInManager.IsSignedIn(User);
                              
}
<form onsubmit="return false;">
  <div class="row mb-3">
      <div class="col">
        <input placeholder="Search" class="form-control" type="text" id="search">
      </div>
      <div class="col">
        <button onclick="searchForBooks()" class="btn btn-primary"><i class="fas fa-search"></i></button>
      </div>
  </div>
</form>
<div class="row">
<div class="col">
<nav aria-label="Page navigation example" class="mb-3 text-center">
  <ul class="pagination" id="paginationBooksTop">
  </ul>
</nav>
</div>
<div class="col-lg">

<select id="orderBooks" class="form-select mb-3">
    <option value="publishAscending">Sort by publish ascending</option>
    <option value="publishDescending">Sort by publish descending</option>
    <option value="titleAscending">Sort by title ascending</option>
    <option value="titleDescending">Sort by title descending</option>
    <option value="releaseAscending">Sort by release ascending</option>
    <option value="releaseDescending">Sort by release descending</option>
    <option value="priceAscending">Sort by price ascending</option>
    <option value="priceDescending">Sort by price descending</option>
  </select>
</div>
<div class="col"><button type="button" class="btn btn-primary mb-3" onclick="sortBooks()">Sort</button></div>
</div>
<div class="row g-1">
<script>
$(document).ready(function() {
     addPagination(@Model.NumberOfBooks);
     setSelectedValue();
     setSearchValue();
});
</script>
@if(Model.NumberOfBooks == 0)
{
  <h1 class="text-center">Nothing found!</h1>
}
else
{
  @for (int i=0; i<@Model.Books.Count; i++)
  {
        <div class="col-md-3 ml-2">
            <a href="~/Book/@Model.Books[i].Id" class="text-dark" style="text-decoration: none;">
                    <div class="card p-3 book">
                          <div class="text-center"> <img src="@Model.Books[i].ImgUrl" style="max-width: 240px; max-height: 200px;"> </div>
                            <div class="product-details text-center"> <span class="fw-bold">@Model.Books[i].Title</span>
                                <span class="font-weight-bold d-block">
                                    @string.Join(", ", Model.Books[i].Authors.Select(a=>a.ToString()).ToArray<string>())
                                    
                                </span>
                            <span class="font-weight-bold d-block text-center">€ @Model.Books[i].Price.ToString("0.00")</span>
                                
                            </div>
                            <div class="buttons d-flex flex-row justify-content-center mt-3">
                              @if (isLoggedIn)
                              {
                                <button id='@string.Format("addToCartButton{0}",i)' class="btn btn-primary cart-button btn-block text-center mb-4" onclick="addToCartOneQuantity(@Model.Books[i].Id, '@Model.Books[i].Title')"><i class="fa fa-shopping-cart"></i> Add to cart </button>
                              }
                          </div>
                    </div>
                    </a>
        </div>
  }
}
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Message</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <span id="titleMessage"></span> is added successfully to your shopping cart!
    </div>
  </div>
</div>
<nav aria-label="Page navigation example" class="mt-3 text-center">
  <ul class="pagination" id="paginationBooksBottom">
  </ul>
</nav>
<script>
 var fn = function(e) { e.preventDefault() };
  for(var i = 0; i<@{
    if(Model.NumberOfBooks > 0)
    {
      @Model.Books.Count;
    }
    else
    {
      @Model.NumberOfBooks;
    }
  };i++) {
      document.getElementById(`addToCartButton${i}`).addEventListener('click', fn, false);
  }
</script>

