@{
  ViewData["Title"] = "Admin Panel";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@using BookShopCourseWork.Views.Admin;

<script src="~/js/OrderAdmin.js"></script>
<div class="row">
  <div class="col-lg-3">
    <div class="accordion" id="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button bg-primary text-secondary @AdminNav.BooksButtonTab(ViewContext)" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <span><i class="fas fa-star"></i> Books</span>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse @AdminNav.BooksNavClassTab(ViewContext)" aria-labelledby="headingOne" data-bs-parent="#accordion">
          <div class="accordion-body">
            <a class="nav-link @AdminNav.CreateBookNavClass(ViewContext)" asp-controller="Admin" asp-action="CreateBook">
              <i class="fas fa-book"></i> Create book
            </a>
            <a class="nav-link @AdminNav.EditBookNavClass(ViewContext)" asp-controller="Admin" asp-action="EditBook">
              <i class="fas fa-book"></i> Edit book
            </a>
          </div>
        </div>
      </div>

     <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button bg-primary text-secondary @AdminNav.OrdersButtonTab(ViewContext)" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <span><i class="fas fa-list-ul"></i> Orders</span>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse @AdminNav.OrdersNavClassTab(ViewContext)" aria-labelledby="headingTwo" data-bs-parent="#accordion">
          <div class="accordion-body">
            <a class="nav-link @AdminNav.ViewOrdersNavClass(ViewContext)" asp-controller="Admin" asp-action="ViewOrdersByStatus" asp-route-status="none">
              <i class="fas fa-clipboard-list"></i> View orders
            </a>
            <a class="nav-link @AdminNav.FindOrderByIdNavClass(ViewContext)" asp-controller="Admin" asp-action="FindOrderById">
              <i class="fas fa-search"></i> Find order by Id
            </a>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button bg-primary text-secondary @AdminNav.AuthorsButtonTab(ViewContext)" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <span><i class="fas fa-users"></i> Authors</span>
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse @AdminNav.AuthorsNavClassTab(ViewContext)" aria-labelledby="headingThree" data-bs-parent="#accordion">
          <div class="accordion-body">
            <a class="nav-link @AdminNav.UpdateAuthorBookNavClass(ViewContext)" asp-controller="Admin" asp-action="UpdateAuthorBook">
              <i class="fas fa-link"></i> Update author and book
            </a>
            <a class="nav-link @AdminNav.ViewAllAuthorsNavClass(ViewContext)" asp-controller="Admin" asp-action="ViewAllAuthors">
              <i class="fas fa-eye"></i> View all authors
            </a>
            <a class="nav-link @AdminNav.AddAuthorNavClass(ViewContext)" asp-controller="Admin" asp-action="AddAuthor">
              <i class="fas fa-plus"></i> Add author
            </a>
            <a class="nav-link @AdminNav.DeleteAuthorNavClass(ViewContext)" asp-controller="Admin" asp-action="DeleteAuthor">
              <i class="fas fa-minus"></i> Delete author
            </a>
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button bg-primary text-secondary @AdminNav.PublishersButtonTab(ViewContext)" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            <span><i class="far fa-newspaper"></i> Publishers</span>
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse @AdminNav.PublishersNavClassTab(ViewContext)" aria-labelledby="headingFour" data-bs-parent="#accordion">
          <div class="accordion-body">
            <a class="nav-link @AdminNav.UpdatePublisherBookNavClass(ViewContext)" asp-controller="Admin" asp-action="UpdatePublisherBook">
              <i class="fas fa-link"></i> Update publisher and book
            </a>
            <a class="nav-link @AdminNav.ViewAllPublishersNavClass(ViewContext)" asp-controller="Admin" asp-action="ViewAllPublishers">
              <i class="fas fa-eye"></i> View all publishers
            </a>
            <a class="nav-link @AdminNav.AddPublisherNavClass(ViewContext)" asp-controller="Admin" asp-action="AddPublisher">
              <i class="fas fa-plus"></i> Add publisher
            </a>
            <a class="nav-link @AdminNav.DeletePublisherNavClass(ViewContext)" asp-controller="Admin" asp-action="DeletePublisher">
              <i class="fas fa-minus"></i> Delete publisher
            </a>
          </div>
        </div>      
       </div>

        <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button bg-primary text-secondary @AdminNav.GenresButtonTab(ViewContext)" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
            <span><i class="fas fa-theater-masks"></i> Genres</span>
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse @AdminNav.GenresNavClassTab(ViewContext)" aria-labelledby="headingFive" data-bs-parent="#accordion">
          <div class="accordion-body">
            <a class="nav-link @AdminNav.UpdateGenreBookNavClass(ViewContext)" asp-controller="Admin" asp-action="UpdateGenreBook">
              <i class="fas fa-link"></i> Update genre and book
            </a>
            <a class="nav-link @AdminNav.ViewAllGenresNavClass(ViewContext)" asp-controller="Admin" asp-action="ViewAllGenres">
              <i class="fas fa-eye"></i> View all genres
            </a>
            <a class="nav-link @AdminNav.AddGenreNavClass(ViewContext)" asp-controller="Admin" asp-action="AddGenre">
              <i class="fas fa-plus"></i> Add genre
            </a>
            <a class="nav-link @AdminNav.DeleteGenreNavClass(ViewContext)" asp-controller="Admin" asp-action="DeleteGenre">
              <i class="fas fa-minus"></i> Delete genre
            </a>
          </div>
        </div>      
       </div> 
    </div>
  </div>
  <div class="col-md-8 mt-3 card ml-3 mr-3">
    @RenderBody()
  </div>
</div>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}